.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	background-color: white;
    
}

.btnASendAction {
	background: skyblue;
	color: white;
	height: 54px;
	width: 400px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: red;
	border: none;
	margin: 10px;
}

.btnASendAction:hover {
	color:black ;
	background: pink;
}

h1{
    color: black;
}