.NavBar {

        background-color: pink;
        height: 70px;
        font-size: 22px;
        padding: 20px;
        text-align: center;
        font-family: "Rubik" sans-serif;
        width: 100%;
    }
#logo {
        height: 60px;
        width: 60px;
    }
.NavBar ul {
        list-style: none;
        display: flex;
        width: 100%;    
        justify-content: space-evenly;
        padding: 15px;
        font-size: 30px;
    }
.NavBar a {
        text-decoration: none;
        color: white;
    }
.NavBar a:hover {
        color: black !important;
    }
#carrito{
    display: flex;
    color: white;
}
.Greatings {
    font-size: 20px;
    background-color: black;
}
h1{
    font-size: 30px;
}